<!-- nav -->
<!-- <nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="currentUser"> -->
    <!-- <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="/">Home</a>
        <a class="nav-item nav-link" (click)="logout()">Logout</a>

        <div  class="topnav-right"><label class="text-primary">Welcome {{currentUser.firstName}}</label> </div>
    </div> -->
    <!-- <div class="topnav" *ngIf="currentUser">
        <a class="active" routerLink="/home">Home</a>
         <a routerLink="/home/school">School</a>
        <a routerLink="/home/student">Student</a>
        <div class="topnav-right">
            <a>Welcome {{currentUser.fullName}}</a>
          <a (click)="logout()">Logout</a>
        </div>
      </div>
    -->
<!-- </nav> -->

<nav class="navbar navbar-expand-md navbar-dark bg-dark" *ngIf="currentUser">
    <a href="#" class="navbar-brand"><i class="fa fa-user-circle" aria-hidden="true"></i>&nbsp;TMS</a>
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav">
            <a routerLink="/home" #menu (click)="addActiveClass($event)" class="nav-item nav-link active"><i class="fa fa-fw fa-home"></i>Home</a>
            <a routerLink="/home/user" #menu (click)="addActiveClass($event)" class="nav-item nav-link active"><i class="fa fa-users" aria-hidden="true"></i>&nbsp;Users</a>
            <a routerLink="/home/school" #menu (click)="addActiveClass($event)" class="nav-item nav-link"><i class="fa fa-fw fa-university" aria-hidden="true"></i>&nbsp;School</a>
            <a routerLink="/home/student" #menu (click)="addActiveClass($event)" class="nav-item nav-link"><i class="fa fa-fw fa-child" ></i>&nbsp;Student</a>
            <!-- <a href="#" class="nav-item nav-link disabled" tabindex="-1">Reports</a> -->
        </div>
        <div class="navbar-nav ml-auto">
            <a (click)="logout()" class="nav-item nav-link active"><i class="fa fa-sign-out" aria-hidden="true"></i>&nbsp;Logout</a>
        </div>
    </div>
</nav>

<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light" *ngIf="currentUser">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <a class="navbar-brand" href="#">TMS</a>
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Disabled</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav> -->














<nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="!currentUser">
    <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="/">About</a>
        <a class="nav-item nav-link" routerLink="/">Contact</a>
    </div>
</nav>

<!-- main app container -->
<div class="">
    <div class="container">
        <!-- <div class="row"> -->
            <!-- <div class="col-sm-6 offset-sm-3"> -->
                <!-- <alert></alert> -->
                <router-outlet></router-outlet>
            <!-- </div> -->
        <!-- </div> -->
    </div>
</div>

<!-- credits -->
<div class="text-center">
    <!-- <p>
        <a href="https://jasonwatmore.com/post/2019/06/10/angular-8-user-registration-and-login-example-tutorial" target="_top">Angular 8 - User Registration and Login Example & Tutorial</a>
    </p>
    <p>
        <a href="http://jasonwatmore.com" target="_top">JasonWatmore.com</a>
    </p> -->
</div>