<div class="card m-3">
    <h5 class="card-header">All registered users:</h5>
    <div class="card-body">
        <table class="table table-bordered">
            <thead class="thead-dark">
                <th>Name</th>
                <th>UserName</th>
                <th>Password</th>
                <th>Action</th>
            </thead>
            <tbody>
                <tr *ngFor="let user of usersPaging">
                    <td>{{user.fullName}}</td>
                    <td>{{user.userName}}</td>
                    <td>{{user.password}}</td>
                    <td>
                        <a (click)="deleteUser(user.userId)" class="text-danger">Delete</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="card-footer">
        <app-common-paging >
        </app-common-paging>
    </div>
</div>