<div style="margin-top: 10px;">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Users</h5>
                    <p class="card-text">All registered users who have the authority to access the app.</p>
                    <a routerLink='/home/user' class="btn btn-primary"><i class="fa fa-users" aria-hidden="true"></i>&nbsp;Users</a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Schools</h5>
                    <p class="card-text">List of schools.</p>
                    <a routerLink='/home/school' class="btn btn-primary"><i class="fa fa-university" aria-hidden="true"></i>&nbsp;Schools</a>
                </div>
            </div>
        </div>
    </div>
    <div style="margin-top: 10px;">
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Students</h5>
                        <p class="card-text">List of students.</p>
                        <a routerLink='/home/student' class="btn btn-primary"><i class="fa fa-child" aria-hidden="true"></i>&nbsp;Students</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Pending Receipts</h5>
                        <p class="card-text">List of pending receipts.</p>
                        <a routerLink='/home' class="btn btn-primary"><i class="fa fa-credit-card" aria-hidden="true"></i>&nbsp;Receipts</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

