<div class="card m-3">
    <div class="card-header">
        <!-- <div style="float: left;"><h5></h5></div>
        <div style="float: right;">
            <div class="radio">
                <i class="fa fa-user-plus" aria-hidden="true"></i>
                <input type="radio"  class="form-check-input" name="viewType" value="L" (click)="selectViewType($event)">
                <i class="fa fa-list" aria-hidden="true"></i>
                <input type="radio" checked class="form-check-input" name="viewType" value="T" (click)="selectViewType($event)">
                <i class="fa fa-picture-o" aria-hidden="true"></i>
            </div>
        </div> -->

        <div class="row">
            <div class="col-md-10">
              <h5 >All Students: </h5>
            </div>
            <div class="col-md-2 float-right">
                <!-- <button class="btn btn-primary"> -->
                   
                    <a routerLink="/home/student-create" ><i class="fa fa-user-plus" aria-hidden="true"></i></a>
                <!-- </button>
                <button class="btn btn-primary" style="margin-left: 1em"> -->
                    <a (click)="selectViewType('L')" ><i class="fa fa-list" aria-hidden="true" style="margin-left: 1em"></i></a>
                <!-- </button>
                <button class="btn btn-primary" style="margin-left: 1em"> -->
                    <a (click)="selectViewType('T')" ><i class="fa fa-picture-o" aria-hidden="true" style="margin-left: 1em"></i></a>
                    <a routerLink="/home/student-create" ><i class="fa fa-file-excel-o" aria-hidden="true" style="margin-left: 1em"></i></a>
                    <a routerLink="/home/student-create" ><i class="fa fa-file-pdf-o" aria-hidden="true" style="margin-left: 1em"></i></a>
                <!-- </button> -->
            </div>
        </div>
    </div>
    
    <div class="card-body">
        <div *ngIf="viewType=='T'">
            <app-student-display *ngFor="let student of pagingList" [student]="student">
            </app-student-display>
        </div>
        <div class="table-responsive" *ngIf="viewType=='L'">
            <table class="table table-bordered">
                <thead class="thead-dark">
                    <th>SlNo</th>
                    <th>Name</th>
                    <th>Address</th>
                    <th>Class</th>
                    <th>DOB</th>
                    <th>School</th>
                    <th>Gender</th>
                    <th>Guardian-Name</th>
                    <th>Mobile</th>
                    <th>Email</th>
                    <th>Fees</th>
                    <th>Comments</th>
                    <th>Created Date</th>
                    <th>Modified Date</th>
                    <th>Action</th>
                </thead>
                <tbody>
                    <tr *ngFor="let student of pagingList; let i = index;">
                        <td>{{i+1}}</td>
                        <td>{{student.name|studentTitle:student.gender}}</td>
                        <td>{{student.address}}</td>
                        <td>{{student.class}}</td>
                        <td>{{student.dateOfBirth|date:'mediumDate'}}</td>
                        <td>{{student.schoolName}}</td>
                        <td [ngSwitch]="student.gender">
                            <span *ngSwitchCase="'M'">Male</span>
                            <span *ngSwitchCase="'F'">Female</span>
                            <span *ngSwitchCase="'O'">Others</span>
                            <span *ngSwitchDefault>NA</span>
                        </td>
                        <td>{{student.guardianName}}</td>
                        <td>{{student.mobile}}</td>
                        <td>{{student.email}}</td>
                        <td>{{student.fees|currency:'INR':'symbol':'1.2-2'}}</td>
                        <td>{{student.comments}}</td>
                        <td>{{student.insDate | date:'dd/MM/yyyy h:mm:ss a'}}</td>
                        <td>{{student.modiDate | date:'dd/MM/yyyy h:mm:ss a'}}</td>
                        <td>
                            <a (click)="editStudent(student.studentId)" class="text-primary">Edit</a>
                            &nbsp; <a (click)="deleteStudent(student.studentId)" class="text-danger">Delete</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="card-footer">
        <app-common-paging [totalRecords]="totalRecords" [recordsPerPage]="recordsPerPage"  [listArr]="studentList"
        (onPageChange)="displayActivePage($event)" ></app-common-paging>
     </div>
</div>

<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">  
    <!-- <p style="color: white"> </p>   -->
</ngx-spinner>   